/*fondo gris*/
:host {
  display: block;
  height: 100vh;
  background-color: #f0f2f5;
}

.card {
  border: none;
  border-radius: 15px;
}

.container {
  height: 100%;
}

.btn-primary {
  padding: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.alert-danger {
  font-size: 0.9rem;
  font-weight: 500;
}
